

<!doctype html>
<head>
    <meta charset="utf-8">
    <title>AccountKitJS App</title>
</head>

<body>
<div>Logged In to Account Kit:</div>
<div>User Token {{user_access_token}}</div>
<div>User Token Expires at {{expires_at}}</div>
<div>User Id {{user_id}}</div>
<div>User phone: {{phone_num}}</div>
<div>User email: {{email_addr}}</div>
</body>

